<app-navbar-admin></app-navbar-admin>

<div class="container1 grid-center">
  <div class="option-card" [routerLink]="['/admin/users']">
    <button class="option-btn">
      <i class="pi pi-users" style="font-size: 2.0rem"></i>
    </button>
    <p class="option-label">Usuarios</p>
  </div>

  <div class="option-card" [routerLink]="['/admin/products']">
    <button class="option-btn">
      <i class="pi pi-shopping-cart" style="font-size: 2.0rem"></i>
    </button>
    <p class="option-label">Productos</p>
  </div>

  <div class="option-card" [routerLink]="['/admin/orders']">
    <button class="option-btn">
      <i class="pi pi-truck" style="font-size: 2.0rem"></i>
    </button>
    <p class="option-label">Entregas</p>
  </div>

  <div class="option-card" [routerLink]="['/my-profile']">
    <button class="option-btn">
      <i class="pi pi-user" style="font-size: 2.0rem"></i>
    </button>
    <p class="option-label">Perfil</p>
  </div>
</div>