<app-navbar-driver></app-navbar-driver>

<div class="container1 grid-center">
    <div class="option-card" [routerLink]="['/drivers/history']">
        <button class="option-btn">
            <i class="pi pi-history" style="font-size: 2.0rem"></i>
        </button>
        <p class="option-label">Historial</p>
    </div>

    <div class="option-card" [routerLink]="['/drivers/deliveries']">
        <button class="option-btn">
            <i class="pi pi-truck" style="font-size: 2.0rem"></i>
        </button>
        <p class="option-label">Entregas</p>
    </div>

    <div class="option-card" [routerLink]="['/my-profile']">
        <button class="option-btn">
            <i class="pi pi-user" style="font-size: 2.0rem"></i>
        </button>
        <p class="option-label">Perfil</p>
    </div>
</div>