<app-navbar-driver></app-navbar-driver>

<div class="container1 grid-center">


    <p-card class="option-card">
        <button class="option-btn" [routerLink]="['/drivers/history']">
            <i class="pi pi-history" style="font-size: 2.0rem"></i>
        </button>
        <p class="option-label">Historial</p>
    </p-card>

    <p-card class="option-card">
        <button class="option-btn" [routerLink]="['/drivers/deliveries']">
            <i class="pi pi-truck" style="font-size: 2.0rem"></i>
        </button>
        <p class="option-label">Entregas</p>
    </p-card>

    <p-card class="option-card">
        <button class="option-btn" [routerLink]="['/my-profile']">
            <i class="pi pi-user" style="font-size: 2.0rem"></i>
        </button>
        <p class="option-label">Perfil</p>
    </p-card>
</div>