spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/deliverydb
    username: postgres
    password: Haikyuu1212
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true